* {
    margin: 0;
    padding: 0;
  }
  
  header {
    width: 100%;
    height: 8vh;
    margin: 0; /*auto*/
    display: flex;
    background-color: #ebeaec;
    position: fixed;
    z-index: 1;
  }

  .logo{
    margin: 25px 0 0 30px;
  }

  .logo img{
    height: 60px; 
    width: 60px;
  }
  
  .nav {
    /* background-color: silver; */
    display: flex;
    margin: 0 0 0 20vw;
  }

  .nav a{
      font-family: 'Alata', sans-serif;
      text-decoration: none;
      color: black;
  }
  
  .nav-item {
    height: fit-content;
    width: 150px;
    /* border: 1px solid red; */
    position: relative;
    line-height: 8vh;
  }
  
  .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    /* background: yellow; */
  }
  
  .nav-item .dropdown-menu a {
    display: block;
  }
  
  .nav-item .dropdown-menu .wrapper {
    position: relative;
  }
  
  .nav-item .dropdown-menu .wrapper .menu-child {
    flex-direction: column;
    display: none;
  }
  
  .nav-item .dropdown-menu .wrapper .menu-child a {
    display: block;
  }
  
  .nav-item .dropdown-menu .wrapper:hover .menu-child {
    display: block;
  }
  
  .nav-item .dropdown-menu .menu-child {
    background: rgb(156, 156, 156);
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  #toggle-menu {
    position: absolute;
    top: 20px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
  }
  

/* ==============================BODY===========================*/

/* =============HOME==========*/
#home{
  background-color: #f0eff0;
  height: 100vh;
  width: 100%;
  display: flex;
}

#home .img_home img{
  height: 250px;
  width: 250px;
  margin: 30vh 0 0 20vw;
}

#home .text_home {
  margin: 35vh 0 0 5vw;
}

.name_home{
  font-family: 'Alata', sans-serif;
  color: #0c0908;
  font-size: 50px;
}

.text_home p{
  font-family: 'Alata', sans-serif;
  color: #9a9a9a;
  font-size: 20px;
  margin-top: 8px;
}

.icon_social{
  margin: 25px 0 0 0;
  display: flex;
}

.icon_social a{
  margin: 0 20px 0 0;
}

.icon_social i{
  font-size: 25px;
  color: #9a9a9a;
}

.icon_social i:hover{
  font-size: 25px;
  color: #e9d83e;
}
/* =============THE END OF HOME==========*/

/* =============ABOUT==========*/
#about{
  background-color: #ebeaec;
  height: 100vh;
  width: 100%;
  display: flex;
}

.img_about_desktop{
  height: 600px;
  width: 360px;
  margin: 13vh 0 0 10vw;
}

.img_about_mobile{
  display: none;
}

.language_about{
  margin: 18vh 0 0 0;
}

.language_about h1{
  padding: 2vh 0 0 5vw;
  font-family: 'Alata', sans-serif;
  font-size: 70px;
}

.language_about div{
  padding: 2vh 10vw 2vh 5vw;
  font-family: 'Alata', sans-serif;
  text-align: justify;
}
/* =============THE END OF ABOUT==========*/

/* =============SKILLS==========*/
#skills{
  background-color: #ebeaec;
  height: 100vh;
  width: 100%;
}

.title_skills{
  display: flex;
}

.title_skills img{
  height: 150px;
  width: 150px;
  margin: 10vh 0 0 10vw;
}

.title_skills h1{
  font-family: 'Alata', sans-serif;
  font-size: 70px;
  color: #317e05;
  margin: 15vh 0 0 1vw;
}

.content_skills{
  display: flex;
}

.text_skills{
  margin: 3vh 3vw 0 10vw;
  width: 80vw;
}

.text_skills p{
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  text-align: justify;
  padding: 1vh 0;
  color: #777777;
}


/* ==================skills_bar==================*/
.skills_model{
  width: 100%;
  max-width: 790px;
  padding: 0 10vw 0 0;
}

.skill-name{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5vh 0 0 0;
  font-family: 'Alata', sans-serif;
}

.skill-bar{
  height: 3px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 3px;
  background-color: #317e05;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  /* position: relative; */
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
/* ==================THE END skills_bar==================*/


/* ==================Studio==================*/
/* #studio{
  height: 100vh;
  width: 100%;
  background-color: #f0eff0;
}

#studio img{
  height: 640px;
  width: 960px;
  padding: 10vh 0 0 20vw;
}

.text_media_studio{
  margin: -85vh 0 0 50vw;
}

.text_tech_studio{
  margin: 45vh 0 0 20vw;
} */

/* ==================THE END OF Studio==================*/


/* ==================Project==================*/
#project{
  height: 250vh;
  width: 100%;
  background-color: #faf9f7;
}

.intro_project{
  display: flex;
}

.intro_project img{
  height: 500px;
  width: 500px;
  margin: 20vh 0 0 0;
}

.text_project{
  margin: 20vh 0 0 0;
}

/* -----------product of project-------- */
.product_project{
  margin: 10vh 0 0 15vw;
}

.row{
  display: flex;
  /* position: relative; */
}

.container {
  position: relative;
  width: 25%;
  margin: 0 3vw 3vw 0;
}
 
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .6s ease;
  backface-visibility: hidden;
  border-radius: 20px;
  z-index: 2;
}
 
.readmore {
  transition: .6s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
 
.container:hover .image {
  opacity: 0.5;
}
 
.container:hover .readmore {
  opacity: 1;
  cursor: pointer;
}
 
.text {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  font-weight: bold;
}
















/* ==================THE END OF Project==================*/

/* ==================Travel==================*/
#travel{
  height: 170vh;
  width: 100%;
  display: flex;
  background-image: url("image/background_final_travel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_travel_1{
  /* 167/200 */
  width: 167px;
  height: 200px;
  margin: 25vh 0 0 10vw;
}

.img_travel_2{
  /* 11/16 */
  height: 320px;
  width: 220px;
  margin: 70vh 0 0 10vw;
}

.img_travel_3{
  /* 83/200 */
  width: 124px;
  height: 300px;
  margin: 55vh 10vw 0 0;
}

.text_travel{
  margin: 20vh 0 0 2vw;
}

.text_travel h1{
  font-family: 'Alata', sans-serif;
  font-size: 70px;
}

.text_travel p{
  font-family: 'Alata', sans-serif;
  font-size: 19px;
  padding: 3vh 8vw 0 0;
}

/* Button */
.button_travel {
  display: inline-block;
  border-radius: 0;
  border-style: solid;
  background-color: #f6ab01;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8vh 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.button_travel span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_travel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_travel:hover span {
 padding-right: 25px;
}

.button_travel:hover span:after {
  opacity: 1;
  right: 0;
}
/* THE END of Button */

/* ==================THE END OF Travel==================*/

/* ==================Contact==================*/
#contact{
  height: 40vh;
  width: 100%;
  background-image: url("image/coffee_contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contact h1{
  font-family: 'Alata', sans-serif;
  padding: 5vh 0 0 10vw;
  font-size: 50px;
}

.text_contact{
  display: flex;
}

.forwork{
  margin: 3vh 0 0 10vw;
  width: 25vw;
}

.feedback{
  margin: 3vh 0 0 3vw;
  width: 25vw;
}

.text_contact h3{
  font-family: 'Alata', sans-serif;
  font-size: 22px;
  margin-bottom: 1vh;
}

.text_contact p{
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #777777;
}

.text_contact a{
  text-decoration: none;
  color: #000000;
}

.bar_power{
  height: 5vh;
  width: 100%;
  background-color: black;
  display: flex;
}

.bar_power p{
  color: white;
  margin-left: 40vw;
  line-height: 5vh;
  font-family: 'Alata', sans-serif;
  font-size: 10px;
}

.icon_social_contact{
  margin: 0 0 0 30vw;
  display: flex;
}

.icon_social_contact a{
  margin: 0 1vw 0 0;
  line-height: 5vh;
}

.icon_social_contact i{
  font-size: 17px;
  color: #ffffff;
}

.icon_social_contact i:hover{
  color: #f1e20c;
}

/* ==================THE END OF Contact==================*/

















@media screen and (max-width: 950px) {
  header {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
  }
  header.show {
    display: block;
  }
  .logo img{
    margin: 0 0 0 34vw;
  }
  .nav {
    height: 100%;
    margin: 0 0 0 43vw;
    display: block;
  }
  .dropdown-menu {
    position: relative !important;
  }
  #toggle-menu {
    opacity: 1;
    visibility: visible;
  }

/* ==============================BODY===========================*/

/* =============HOME==========*/
  #home{
    display: block;
    height: 100vh;
  }

  #home .img_home img{
    height: 200px;
    width: 200px;
    margin: 27vh 0 0 24vw;
  }

  #home .text_home {
    margin: 0;
  }

  .name_home{
    font-family: 'Alata', sans-serif;
    color: #0c0908;
    font-size: 33px;
    text-align: center;
  }
  
  .text_home p{
    font-family: 'Alata', sans-serif;
    color: #9a9a9a;
    font-size: 13px;
    margin-top: 8px;
    text-align: center;
    padding: 0 14vw;
  }
  
  .icon_social{
    margin: 15px 0 0 24vw;
    display: flex;
  }

  .icon_social i{
    font-size: 15px;
  }


  /* =============ABOUT==========*/
  #about{
    display: block;
  }
  
  .img_about_desktop{
    display: none;
  }

  .img_about_mobile{
    display: block;
    height: 300px;
    width: 180px;
    margin: 1vh 0 0 27vw;
  }
  
  .language_about{
    margin: 0;
  }

  .language_about h1{
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    padding: 3vh 0 0 0;
  }
  
  .language_about div{
    padding: 1vh 15vw;
    font-size: 11px;
  }

  /* =============SKILLS==========*/
  #skills{
    height: 120vh;
  }

  .title_skills img{
    height: 70px;
    width: 70px;
    margin: 4vh 0 0 28vw;
  }
  
  .title_skills h1{
    font-family: 'Alata', sans-serif;
    font-size: 40px;
    color: #317e05;
    margin: 5vh 0 0 1vw;
  }

  .content_skills{
    display: block;
  }

  .text_skills{
    margin: 2vh 0 0 0;
    width: 100vw;
  }

  .text_skills p{
    padding: 1vh 15vw;
    font-size: 11px;
  }

  .skills_model{
    width: 70%;
    padding: 0 15vw;
  }

  .skill-name{
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 4vh 0 0 0;
    font-family: 'Alata', sans-serif;
  }
  
  .skill-bar{
    height: 2px;
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 2px;
    background-color: #317e05;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }

  /* =========Project============ */
  .intro_project img{
    height: 100px;
    width: 100px;
  }

  /* =========Travel============ */
  #travel{
    height: 100vh;
  }

  .img_travel_1{
    /* 167/200 */
    width: 83px;
    height: 100px;
    margin: 15vh 0 0 5vw;
  }
  
  .img_travel_2{
    /* 11/16 */
    height: 160px;
    width: 110px;
    margin: 50vh 0 0 5vw;
  }
  
  .img_travel_3{
    /* 83/200 */
    width: 83px;
    height: 200px;
    margin: 45vh 5vw 0 0;
  }

  .text_travel{
    margin: 5vh 0 0 -7vw;
  }
  
  .text_travel h1{
    font-family: 'Alata', sans-serif;
    font-size: 35px;
  }
  
  .text_travel p{
    font-family: 'Alata', sans-serif;
    font-size: 10px;
    padding: 3vh 0 0 0;
    text-align: justify;
  }

  /* Button */
  .button_travel {
    font-size: 10px;
    padding: 8px;
    width: 70px;
    margin: 3vh 0 0 0;
  }
  /* THE END of Button */



  /* =========contact==============*/
  #contact{
    height: 20vh;
  }
  
  #contact h1{
    padding: 2vh 0 0 10vw;
    font-size: 20px;
  }

  .text_contact div{
    margin: 0 0 0 10vw;
  }

  .text_contact h3{
    font-size: 10px;
    margin: 1vh 0 0 0;
  }

  .text_contact p{
    font-size: 8px;
  }

  .feedback{
    width: 35vw;
  }

    
  .bar_power p{
    margin-left: 10vw;
    font-size: 7px;
  }
  
  .icon_social_contact{
    margin: 0 0 0 20vw;
    display: flex;
  }
  
  .icon_social_contact a{
    margin: 0 2vw 0 0;
  }
  
  .icon_social_contact i{
    font-size: 10px;
  }

}