* {
    margin: 0;
    padding: 0;
  }
  
  header {
    width: 100%;
    height: 8vh;
    margin: 0; /*auto*/
    display: flex;
    background-color: #ebeaec;
    position: fixed;
  }

  .logo{
    margin: 25px 0 0 30px;
  }

  .logo img{
    height: 60px; 
    width: 60px;
  }
  
  .nav {
    /* background-color: silver; */
    display: flex;
    margin: 0 0 0 20vw;
  }

  .nav a{
      font-family: 'Alata', sans-serif;
      text-decoration: none;
      color: black;
  }
  
  .nav-item {
    height: fit-content;
    width: 150px;
    /* border: 1px solid red; */
    position: relative;
    line-height: 8vh;
  }
  
  .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    /* background: yellow; */
  }
  
  .nav-item .dropdown-menu a {
    display: block;
  }
  
  .nav-item .dropdown-menu .wrapper {
    position: relative;
  }
  
  .nav-item .dropdown-menu .wrapper .menu-child {
    flex-direction: column;
    display: none;
  }
  
  .nav-item .dropdown-menu .wrapper .menu-child a {
    display: block;
  }
  
  .nav-item .dropdown-menu .wrapper:hover .menu-child {
    display: block;
  }
  
  .nav-item .dropdown-menu .menu-child {
    background: rgb(156, 156, 156);
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  #toggle-menu {
    position: absolute;
    top: 20px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
  }
  

/* ==============================BODY===========================*/

/* =============HOME==========*/
#home{
  background-color: #f0eff0;
  height: 100vh;
  width: 100%;
  display: flex;
}

#home .img_home img{
  height: 250px;
  width: 250px;
  margin: 30vh 0 0 20vw;
}

#home .text_home {
  margin: 35vh 0 0 5vw;
}

.name_home{
  font-family: 'Alata', sans-serif;
  color: #0c0908;
  font-size: 50px;
}

.text_home p{
  font-family: 'Alata', sans-serif;
  color: #9a9a9a;
  font-size: 20px;
  margin-top: 8px;
}

.icon_social{
  margin: 25px 0 0 0;
  display: flex;
}

.icon_social a{
  margin: 0 20px 0 0;
}

.icon_social i{
  font-size: 25px;
  color: #9a9a9a;
}

.icon_social i:hover{
  font-size: 25px;
  color: #e9d83e;
}
/* =============THE END OF HOME==========*/

/* =============ABOUT==========*/
#about{
  background-color: #ebeaec;
  height: 100vh;
  width: 100%;
  display: flex;
}

#about img{
  height: 600px;
  width: 360px;
  margin: 13vh 0 0 10vw;
}

.language_about{
  margin: 18vh 0 0 0;
}

.language_about h1{
  padding: 2vh 0 0 5vw;
  font-family: 'Alata', sans-serif;
  font-size: 70px;
}

.language_about div{
  padding: 2vh 10vw 2vh 5vw;
  font-family: 'Alata', sans-serif;
  text-align: justify;
}







@media screen and (max-width: 950px) {
  header {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
  }
  header.show {
    display: block;
  }
  .logo img{
    margin: 0 0 0 34vw;
  }
  .nav {
    height: 100%;
    margin: 0 0 0 43vw;
    display: block;
  }
  .dropdown-menu {
    position: relative !important;
  }
  #toggle-menu {
    opacity: 1;
    visibility: visible;
  }

/* ==============================BODY===========================*/

/* =============HOME==========*/
  #home{
    display: block;
    height: 100vh;
  }

  #home .img_home img{
    height: 200px;
    width: 200px;
    margin: 27vh 0 0 24vw;
  }

  #home .text_home {
    margin: 0;
  }

  .name_home{
    font-family: 'Alata', sans-serif;
    color: #0c0908;
    font-size: 33px;
    text-align: center;
  }
  
  .text_home p{
    font-family: 'Alata', sans-serif;
    color: #9a9a9a;
    font-size: 13px;
    margin-top: 8px;
    text-align: center;
    padding: 0 14vw;
  }
  
  .icon_social{
    margin: 15px 0 0 24vw;
    display: flex;
  }

  .icon_social i{
    font-size: 15px;
  }


  /* =============ABOUT==========*/
  #about{
    display: block;
  }

  #about img{
    height: 300px;
    width: 180px;
    margin: 3vh 0 0 27vw;
  }
  
  .language_about{
    margin: 0;
  }

  .language_about h1{
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    padding: 0;
  }
  
  .language_about div{
    padding: 1vh 15vw;
    font-size: 11px;
  }

}